<div class='panel panel-primary'>
  
  <div class='panel-body'>

      <div class='table-responsive'>
          <table id="details" class='table' *ngFor='let car of cars'>
              <thead>
                  <tr>
                      <th>Make</th>
                      <th>Model</th>
                      <th>Year</th>
                      <th>Color</th>
                      <th>Mileage</th>
                      <th>Image</th>
                  </tr>
              </thead>
            <tbody>
                <tr>
                    <td>{{car.carMake}}</td>
                    <td>{{car.carModel}}</td>
                    <td>{{car.carYear}}</td>
                    <td>{{car.carColour}}</td>
                    <td>{{car.carMileage}}</td>
                    <td>
                        <button class="btn" (click) = 'toggleDescription()'>Show Description</button>
                        <p *ngIf='showDescription'>{{car.carDescription}}</p>
                    </td>
                </tr>
            
            </tbody>
          </table>
      </div>
  </div>
</div>
