<div class='col-md-2'>Search:</div>
<div class='col-md-4'>
    <input type='text'
    [(ngModel)]='listFilter' />
</div>
<div class='panel panel-primary'>
    <div class='panel-body'>
        <div class="cad-content divider">
            <ul class="list-group" *ngFor='let car of filteredCars'>
                <div class="list-group">
                    <a class="list-group-item active">
                        <h4 class="list-group-item-heading">{{car.carMake}} {{car.carModel}}</h4>
                        <p class="list-group-item-text">Year: {{car.carYear}}
                            <br>Mileage: {{car.carMileage}}
                            <br> Price: €{{car.carPrice}}
                        </p>
                        <img class="img-responsive" height="200" src="{{car.imageURL}}">
                        <button class="btn" (click)='toggleDescription()'>{{showDescription ? 'Hide' : 'Show' }} Description</button>
                        <div id="discription" cols="20" rows="3" *ngIf='showDescription'>{{car.carDescription}}</div>
                        <br>
                        <button class="btn" (click)='deleteCar(this._id)'>Delete Car</button>
                    </a>
                </div>
            </ul>
        </div>
    </div>
</div>